
<!-- Allow Forum Creator to Delete the Forum -->
<% if logged_in? && logged_in_user_id_integer == @forum.user_id %>
  <p><%= button_to 'Delete', "destroy", class:"red" %></p>
<% end %>

<%= render "forums/form" %>
