<h1>Forums</h1>

<ol>
  <% @forums.each do |forum| %>
    <li><%= link_to forum.name, "forums/#{forum.slug}" %></li>
  <% end %>
</ol>


<h3>Create a New Forum</h3>
<%= link_to "New Forum", "/forums/new" %>
