<h1><%= @forum.name %></h1>
<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>

<%= link_to "New Post", "/forums/#{@forum.slug}/posts/new" %>
