/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container { max-width: 600px; margin: 80px auto; }

.container a { color: #333; }

.border-bottom-dashed { border-bottom: dashed 1px #000; }

.grey { background: #f1f6fe }

.br-20 { border-radius: 20px }

.border { border: 1px solid #000 }

.rnd { border-radius: 50% }

.box200 { max-width: 200px; max-height: 200px; height: 200px; }

.box30 { width: 30px; height: 30px; }

.shadow { box-shadow: 2px 2px; }

.like img { width: 15px }

.like form {
    width: 15px;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
  }

.maxy300 { max-height: 300px }
.maxx300 { max-width: 300px }

.x200 { width: 200px }

.admin:before {
  content: '';
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  background-image: url(/crown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.6em;
}

.mod:before {
  content: '';
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  background-image: url(/mod-crown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.6em;
}

@media only screen and (max-width: 600px) {
    .container { width: 100%; margin: 80px auto; }
    .nom { margin: 0px }
    .x200 { width: 100% }
  }

  .ovflw { overflow: hidden }
